# Hackathon Preprocessing

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
import itertools
from tqdm.notebook import tqdm

In [ ]:
data_path = os.path.join(os.getcwd(), "drive", "MyDrive", f"timeseries-m-6.csv")

In [ ]:
# pandas의 read csv method.
# csv 파일을 읽습니다. 비슷한 method로 read_excel method가 있으며 필요한 걸 찾아 사용하시면 됩니다.
data = pd.read_csv(data_path)
data.head()

   reservation_id  car_id  ... reservation_created_lng trip
0        19600422    8352  ...                     NaN  NaN
1        19637831    9699  ...                     NaN  NaN
2        19670646   11933  ...                     NaN  NaN
3        19692831    7397  ...                     NaN  NaN
4        19728911    8809  ...                     NaN  NaN

[5 rows x 22 columns]

In [ ]:
data["reservation_start_at"] = pd.to_datetime(data["reservation_start_at"])
data["reservation_return_at"] = pd.to_datetime(data["reservation_return_at"])

In [ ]:
data.columns

Index(['reservation_id', 'car_id', 'member_id_encrypted', 'region',
       'reservation_return_at', 'reservation_start_at', 'member_age',
       'member_gender', 'member_created_date', 'member_total_distance',
       'is_vroom', 'car_name', 'zone_name', 'zone_address', 'zone_lat',
       'zone_lng', 'zone_type1', 'zone_type2', 'zone_type3',
       'reservation_created_lat', 'reservation_created_lng', 'trip'],
      dtype='object')

In [ ]:
data["region"]

0         서울특별시 강서구
1          울산광역시 남구
2           경기도 김포시
3          경기도 남양주시
4         서울특별시 강서구
            ...
751543    서울특별시 성북구
751544     경기도 의정부시
751545    서울특별시 강남구
751546    서울특별시 강서구
751547    서울특별시 성북구
Name: region, Length: 751548, dtype: object

In [ ]:
data.sort_values("reservation_start_at")

        reservation_id  car_id  ... reservation_created_lng trip
159           20099683    9546  ...                     NaN  NaN
230           20131817   12557  ...                     NaN  NaN
204           20120833   14201  ...                     NaN  NaN
281           20151131    8081  ...                     NaN  NaN
186           20113186   13354  ...                     NaN  NaN
...                ...     ...  ...                     ...  ...
680195        27627047    9310  ...              126.830640  NaN
680214        27628199   17483  ...              127.050588  NaN
680215        27628203    6209  ...              126.930759  NaN
680207        27627602   17753  ...                     NaN  NaN
680216        27628502    5841  ...              127.132633  NaN

[751548 rows x 22 columns]

In [ ]:
data.groupby("car_name").count()

              reservation_id  car_id  ...  reservation_created_lng   trip
car_name                              ...
2016 말리부                 294     294  ...                       17    114
G80                     1053    1053  ...                      378    889
K5                      5605    5605  ...                     1011   4448
K5 (LPG)                1756    1756  ...                      318   1137
K7 (LPG)                1553    1553  ...                      208    926
...                      ...     ...  ...                      ...    ...
티볼리                    12050   12050  ...                     3232   9223
티볼리(경유)                30234   30234  ...                     6818  22610
펫카시트 X 더뉴레이               93      93  ...                       60     88
프라이드                   15743   15743  ...                     2172  11192
휠체어슬로프 X 카니발              17      17  ...                        0     15

[61 rows x 21 columns]

In [ ]:
data.groupby("member_id_encrypted").count().sort_values("reservation_id")

                                              reservation_id  ...  trip
member_id_encrypted                                           ...
zzzpC2zniQm6GkxkTBubrUCvzm1CMOMr5uetyKW/TxM=               1  ...     0
MHJlrTalCcPi8Y3HUZ94YTiboBulWgvpwL7vX1dwHwc=               1  ...     1
MHJi3CJ9PsYrUbkbLN51K0KhtOyxdSg+pw9T0hCfWPQ=               1  ...     1
MHJUw0wSabXaVr64hznILnhrUwiElbJCtjOz2iVrrHI=               1  ...     0
MHJCeLlSVB8NKlxa8dQwGO801ooiDvxKslFOlU235hg=               1  ...     1
...                                                      ...  ...   ...
q3fh7eiKNMiF5flg008ZJ4E/Bsyf9Q0xmAOq7sm8tDY=             255  ...   200
6qy5H7fNlSkZ9kKR2gHyTi88JpaOeAGSBiCkqPXQ9GA=             292  ...   179
MGKifPpgs6UKyZhi9LEqHKO9MckfSlKq1PPQF+QVHko=             294  ...   197
uhvTaMs9pNzgAk4Gvng4J5ZwCbHG4QXFDUNv0zx6OWg=             295  ...    72
MRo1KLaA/jViPznvtnLB/tHLuvX3XjHsk2dlDkiPfZM=             394  ...   340

[227120 rows x 21 columns]

In [ ]:
data[data["member_id_encrypted"] == "MRo1KLaA/jViPznvtnLB/tHLuvX3XjHsk2dlDkiPfZM="].sort_values("reservation_return_at")

        reservation_id  car_id  ... reservation_created_lng                   trip
2373          20243535    7231  ...                     NaN                    NaN
2862          20248816   11221  ...                     NaN                    NaN
5222          20272391   11221  ...                     NaN                    NaN
6602          20286105   11221  ...                     NaN                    NaN
7498          20294343    7232  ...                     NaN                    NaN
...                ...     ...  ...                     ...                    ...
674010        27557078   17524  ...              126.933238  서울특별시 서대문구,서울특별시 서대문구
671516        27533416   17524  ...                     NaN              서울특별시 종로구
671521        27533439   17524  ...                     NaN              서울특별시 종로구
675129        27567872    6209  ...              126.931389                    NaN
674173        27558757    6209  ...              126.931404              서울특별시 종로구

[394 rows x 22 columns]

In [ ]:
data[data["member_id_encrypted"] == "MRo1KLaA/jViPznvtnLB/tHLuvX3XjHsk2dlDkiPfZM="].groupby("zone_name").count().sort_values("reservation_id")

              reservation_id  car_id  ...  reservation_created_lng  trip
zone_name                             ...
THE BAY                    1       1  ...                        0     1
연희동 더연희힐오피스텔               1       1  ...                        0     1
연희프라자                      7       7  ...                        2     7
SK연희기지국 주차장               13      13  ...                        0    12
아농스오피스텔 주차타워             372     372  ...                      100   319

[5 rows x 21 columns]

In [ ]:
data[data["member_id_encrypted"] == "MRo1KLaA/jViPznvtnLB/tHLuvX3XjHsk2dlDkiPfZM="].groupby("car_name").count()

               reservation_id  car_id  ...  reservation_created_lng  trip
car_name                               ...
K5                          1       1  ...                        1     1
[쏘카세이브] K5                  8       8  ...                        7     7
[쏘카세이브] 아반떼AD              29      29  ...                       29    27
넥스트스파크                     37      37  ...                        0    18
더뉴레이                        1       1  ...                        0     1
더뉴아반떼                       5       5  ...                        2     5
모닝                          7       7  ...                        0     0
아반떼AD                      64      64  ...                        6    53
올뉴K3                       18      18  ...                       18    16
코나                          5       5  ...                        3     5
클리오                         2       2  ...                        0     2
투싼(경유)                      1       1  ...                        0     1
프라이드                      216     216  ...                       36   204

[13 rows x 21 columns]

In [ ]:
data.groupby("car_id").count().sort_values("reservation_id")

        reservation_id  member_id_encrypted  ...  reservation_created_lng  trip
car_id                                       ...
5878                 1                    1  ...                        0     0
4832                 1                    1  ...                        0     0
14125                1                    1  ...                        1     1
5178                 1                    1  ...                        0     1
12626                1                    1  ...                        0     0
...                ...                  ...  ...                      ...   ...
10351              615                  615  ...                      167   396
11261              620                  620  ...                      143   424
8111               640                  640  ...                      165   410
11854              670                  670  ...                      184   501
5286               733                  733  ...                      144   524

[3866 rows x 21 columns]

In [ ]:
data["car_name"].unique()

array(['아반떼AD', '스포티지', '카니발 11인승', '투싼(경유)', '그랜저IG (LPG)', '코나', '클리오',
       '티볼리(경유)', '더뉴레이', '프라이드', '쏘렌토', '넥스트스파크', '볼트EV (제주)', '말리부',
       '스포티지 더볼드', '올뉴K3', '티볼리', '올뉴모닝', '레이', '싼타페', '뉴 그랜드스타렉스',
       'K7 (LPG)', 'SM6', '쏘나타 뉴라이즈(LPG)', '지프 레니게이드', 'K5 (LPG)',
       '스토닉(경유)', '더뉴아반떼', '스토닉', 'Thule 루프박스 X 티볼리', '스팅어', '쏘나타 뉴라이즈',
       '모닝', 'K5', 'QM3', '미니클럽맨', '2016 말리부', '아이오닉EV (제주)', '그랜저HG',
       '트랙스', '그랜저HG (경유)', '재규어 E-Pace', 'LF쏘나타', '스타렉스', '벤츠 C200',
       'G80', '휠체어슬로프 X 카니발', '쏘나타DN8', '펫카시트 X 더뉴레이',
       'Thule 자전거캐리어 X 더뉴아반떼', '[쏘카세이브] 레이', '[쏘카세이브] 아반떼AD',
       '[쏘카세이브] 티볼리(경유)', '[쏘카세이브] 넥스트스파크', '특가 코나', '특가 더뉴레이',
       '[쏘카세이브] 프라이드', '[쏘카세이브] 투싼(경유)', '[쏘카세이브] K5 (LPG)', '[쏘카세이브] K5',
       '볼트EV'], dtype=object)

In [ ]:
[name for name in data["car_name"].unique() if "쏘카세이브" in name]

['[쏘카세이브] 레이',
 '[쏘카세이브] 아반떼AD',
 '[쏘카세이브] 티볼리(경유)',
 '[쏘카세이브] 넥스트스파크',
 '[쏘카세이브] 프라이드',
 '[쏘카세이브] 투싼(경유)',
 '[쏘카세이브] K5 (LPG)',
 '[쏘카세이브] K5']

In [ ]:
[name for name in data["car_name"].unique() if "특가" in name]

['특가 코나', '특가 더뉴레이']

In [ ]:
[name for name in data["car_name"].unique() if "제주" in name]

['볼트EV (제주)', '아이오닉EV (제주)']

In [ ]:
[name for name in data["car_name"].unique() if "더뉴레이" in name]

['더뉴레이', '펫카시트 X 더뉴레이', '특가 더뉴레이']

In [ ]:
seoul_data = data[data["region"].str.contains("서울특별시")]

In [ ]:
seoul_data.groupby(by=["zone_name"]).count().sort_values("reservation_id")

                           reservation_id  ...  trip
zone_name                                  ...
등촌1-10단지교차로(유림트윈파크)(운영종료)               4  ...     0
아이콘역삼                                   6  ...     0
서울시립대 앞(운영종료)                           7  ...     0
COCOON DONGDUK_A 빌라 주차장                 8  ...     7
삼성중앙역 5번출구(SAC아트홀)(운영종료)                9  ...     0
...                                   ...  ...   ...
까치주차장                                4753  ...  3368
삼선교주차장                               4809  ...  3305
SJ등촌골프연습장 주차장                        4941  ...  3464
코엑스 옥상주차장                            5115  ...  4749
SK주차장                               10197  ...  8844

[438 rows x 21 columns]

In [ ]:
seoul_data.groupby(by=["zone_address"]).count().sort_values("reservation_id")

                   reservation_id  car_id  ...  reservation_created_lng  trip
zone_address                               ...
서울 강서구 마곡동 793                  4       4  ...                        0     0
서울 강남구 역삼동 706-19               6       6  ...                        0     0
서울 성북구 상월곡동 86-84               8       8  ...                        7     7
서울 강서구 염창동 70-20                9       9  ...                        0     0
서울 강남구 삼성동 151-7                9       9  ...                        0     0
...                           ...     ...  ...                      ...   ...
서울 강서구 화곡동 353-8             4753    4753  ...                     1287  3368
서울 성북구 삼선동4가 18-6            4809    4809  ...                     1031  3305
서울 강서구 등촌동 629-7             4941    4941  ...                     1395  3464
서울 강남구 삼성동 159               6718    6718  ...                     2210  5984
서울 강서구 방화동 500-8            10197   10197  ...                     2336  8844

[424 rows x 21 columns]

In [ ]:
zone_unique = seoul_data.groupby(by=["zone_name"]).nunique().sort_values("car_id")[["reservation_id", "car_id", "car_name", "member_id_encrypted"]]
zone_unique

                          reservation_id  car_id  car_name  member_id_encrypted
zone_name
선정릉역 1번출구                            376       1         1                  172
북한산 더샵 108동                          195       1         2                  126
비원오피스텔 주차타워 주차장                      416       1         1                  188
산호빌라                                 327       1         1                  211
삼선현대힐스테이트 101동 4,5라인 주차장             221       1         1                  105
...                                  ...     ...       ...                  ...
발산역 9번출구                            2553      41        26                 1557
홍제주차장                               4206      42        26                 1866
코엑스 옥상주차장                           5115      48        21                 3771
발산파크프라자                             4442      57        28                 2795
SK주차장                              10197     170        44                 6660

[438 rows x 4 columns]

In [ ]:
# zone_unique_path = os.path.join(os.getcwd(), "drive", "MyDrive", "AI", "Likelion", "hackathon", "data", "zone_unique.csv")
# zone_unique.to_csv(zone_unique_path)

In [ ]:
seoul_data[seoul_data["zone_name"] == "북한산 더샵 108동"]["car_name"].unique()

array(['아반떼AD', '[쏘카세이브] 아반떼AD'], dtype=object)

In [ ]:
seoul_data[seoul_data["zone_name"] == "코엑스 옥상주차장"]["zone_address"].unique()

array(['서울 강남구 삼성동 159'], dtype=object)

In [ ]:
seoul_data[seoul_data["zone_address"] == "서울 강남구 삼성동 159"]["zone_name"].unique()

array(['코엑스 옥상주차장(서문 GATE)', '오크우드프리미어호텔', '코엑스 옥상주차장'], dtype=object)

In [ ]:
grouped = seoul_data.groupby("zone_name")
zones = [name for name, _ in grouped]

In [ ]:
zones[:10]

['88주차장',
 'AJ파크 논현점',
 'AJ파크 장안점(덕원주차장)',
 'COCOON DONGDUK_A 빌라 주차장',
 'CU 마곡아르디에점(운영종료)',
 'CU 홍은벽산점 옆',
 'D&J 주차장',
 'EAN빌딩',
 'GS파크 대치사거리점',
 'GS파크 삼성점']

In [ ]:
data_time_range = pd.date_range(start='1/1/2019', end='12/1/2019', freq='h')
data_time_range

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00', '2019-01-01 05:00:00',
               '2019-01-01 06:00:00', '2019-01-01 07:00:00',
               '2019-01-01 08:00:00', '2019-01-01 09:00:00',
               ...
               '2019-11-30 15:00:00', '2019-11-30 16:00:00',
               '2019-11-30 17:00:00', '2019-11-30 18:00:00',
               '2019-11-30 19:00:00', '2019-11-30 20:00:00',
               '2019-11-30 21:00:00', '2019-11-30 22:00:00',
               '2019-11-30 23:00:00', '2019-12-01 00:00:00'],
              dtype='datetime64[ns]', length=8017, freq='H')

In [ ]:
zone_group = seoul_data.groupby("zone_name")

In [ ]:
zone_unique_names = seoul_data["zone_name"].unique()
len(zone_unique_names)

439

In [ ]:
lists = [data_time_range, zone_unique_names]
zone_timeseries = pd.DataFrame(list(itertools.product(*lists)), columns=['time', 'zone'])

In [ ]:
zone_timeseries["time"] = zone_timeseries["time"].apply(pd.to_datetime)
zone_timeseries[zone_timeseries["zone"] == "SK주차장"]

                       time   zone
0       2019-01-01 00:00:00  SK주차장
439     2019-01-01 01:00:00  SK주차장
878     2019-01-01 02:00:00  SK주차장
1317    2019-01-01 03:00:00  SK주차장
1756    2019-01-01 04:00:00  SK주차장
...                     ...    ...
3517268 2019-11-30 20:00:00  SK주차장
3517707 2019-11-30 21:00:00  SK주차장
3518146 2019-11-30 22:00:00  SK주차장
3518585 2019-11-30 23:00:00  SK주차장
3519024 2019-12-01 00:00:00  SK주차장

[8017 rows x 2 columns]

In [ ]:
zone_timeseries["occupied"] = 0
zone_timeseries

              time                     zone  occupied
0       2019-01-01                    SK주차장         0
1       2019-01-01                    용정주차장         0
2       2019-01-01                    제일주차장         0
3       2019-01-01                 웨스트엔드 3차         0
4       2019-01-01            도곡로21길7 공영주차장         0
...            ...                      ...       ...
3519458 2019-12-01                 마곡 747타워         0
3519459 2019-12-01                     우덕빌딩         0
3519460 2019-12-01  COCOON DONGDUK_A 빌라 주차장         0
3519461 2019-12-01             래미안강남힐즈 614동         0
3519462 2019-12-01    한티역 8번출구(볼트EV 부름스테이션)         0

[3519463 rows x 3 columns]

In [ ]:
sample_timestamp = zone_timeseries.iloc[20000]["time"]
sample_timestamp

Timestamp('2019-01-02 21:00:00')

In [ ]:
seoul_data[(seoul_data["reservation_start_at"] <= sample_timestamp) & (seoul_data["reservation_return_at"] > sample_timestamp) & (seoul_data["zone_name"] == "군인공제회관")]

      reservation_id  car_id  ... reservation_created_lng trip
1347        20232789   12584  ...                     NaN  NaN
4561        20265629   10433  ...                     NaN  NaN
5663        20276698   10974  ...                     NaN  NaN

[3 rows x 22 columns]

In [ ]:
import datetime

In [ ]:
last_time = pd.to_datetime("2019-01-01 00:00:00")
hour_added = datetime.timedelta(hours = 1)
next_time = last_time + hour_added
month = last_time.month
cached = seoul_data[((seoul_data["reservation_start_at"] >= last_time) & (seoul_data["reservation_start_at"] < next_time)) | ((seoul_data["reservation_return_at"] >= last_time) & (seoul_data["reservation_return_at"] < next_time)) | ((seoul_data["reservation_start_at"] < last_time) & (seoul_data["reservation_return_at"] >= next_time))]
for index, row in tqdm(zone_timeseries.iterrows()):
  if last_time > row["time"]:
    continue
  if month != row["time"].month:
    timeseries_month_path = os.path.join(os.getcwd(), "drive", "MyDrive", f"timeseries-m.csv")
    zone_timeseries[zone_timeseries["time"].apply(lambda x: x.month) == month].to_csv(timeseries_month_path)
    print(f"month {month} is saved...")
    month = row["time"].month
  if last_time != row["time"]:
    last_time = row["time"]
    next_time = last_time + hour_added
    cached = seoul_data[((seoul_data["reservation_start_at"] >= last_time) & (seoul_data["reservation_start_at"] < next_time)) | ((seoul_data["reservation_return_at"] >= last_time) & (seoul_data["reservation_return_at"] < next_time)) | ((seoul_data["reservation_start_at"] < last_time) & (seoul_data["reservation_return_at"] >= next_time))]
  filtered = cached[cached["zone_name"] == row["zone"]]
  cached = cached[cached["zone_name"] != row["zone"]]
  zone_timeseries.loc[index, "n_drive"] = filtered.shape[0]
  zone_timeseries.loc[index, "n_drive_unique"] = len(filtered["car_id"].unique())

0it [00:00, ?it/s]

month 6 is saved...
month 7 is saved...
month 8 is saved...

KeyboardInterrupt: ignored

In [ ]:
# for name, group in tqdm(zone_group):
#   start_at_list = group["reservation_start_at"].sort_values(ascending=True)
#   return_at_list = group["reservation_return_at"].sort_values(ascending=True)
#   occupied = 0
#   while start_at_list.iloc[0] < pd.to_datetime("2019-01-01 00:00:00"):
#     start_at_list = start_at_list.iloc[1:]
#     occupied += 1
#   while len(return_at_list) > 0:
#     if len(start_at_list) == 0:
#       return_at = return_at_list.iloc[0] # pop(0)
#       occupied -= 1
#       zone_timeseries[(zone_timeseries["zone"] == name) & (zone_timeseries["time"] >= return_at)]["occupied"] = occupied
#       return_at_list = return_at_list.iloc[1:]
#       continue
#     start_at = start_at_list.iloc[0]
#     return_at = return_at_list.iloc[0]
#     is_start_earlier = start_at <= return_at
#     if is_start_earlier:
#       occupied += 1
#       zone_timeseries[(zone_timeseries["zone"] == name) & (zone_timeseries["time"] >= start_at)]["occupied"] = occupied
#       # start_at_list.pop(0)
#       start_at_list = start_at_list.iloc[1:]
#     else:
#       occupied -= 1
#       time = zone_timeseries[zone_timeseries["time"] > return_at] 
#       zone_timeseries[(zone_timeseries["zone"] == name) & (zone_timeseries["time"] >= return_at)]["occupied"] = occupied
#       # return_at_list.pop(0) 
#       return_at_list = return_at_list.iloc[1:]

In [ ]:
zone_timeseries[zone_timeseries["occupied"] > 0]

Empty DataFrame
Columns: [time, zone, occupied, n_drive, n_drive_unique]
Index: []

In [ ]:
zone_timeseries_hour_path = os.path.join(os.getcwd(), "drive", "MyDrive", "AI", "Likelion", "hackathon", "data", "zone_timeseries_by_hour.csv")
zone_timeseries.to_csv(zone_timeseries_hour_path)

In [ ]:
zone_timeseries

                       time                     zone  ...  n_drive  n_drive_unique
1590936 2019-06-01 00:00:00                    SK주차장  ...     18.0            18.0
1590937 2019-06-01 00:00:00                    용정주차장  ...      2.0             2.0
1590938 2019-06-01 00:00:00                    제일주차장  ...      6.0             6.0
1590939 2019-06-01 00:00:00                 웨스트엔드 3차  ...      3.0             3.0
1590940 2019-06-01 00:00:00            도곡로21길7 공영주차장  ...      1.0             1.0
...                     ...                      ...  ...      ...             ...
1907011 2019-06-30 23:00:00                 마곡 747타워  ...      0.0             0.0
1907012 2019-06-30 23:00:00                     우덕빌딩  ...      0.0             0.0
1907013 2019-06-30 23:00:00  COCOON DONGDUK_A 빌라 주차장  ...      0.0             0.0
1907014 2019-06-30 23:00:00             래미안강남힐즈 614동  ...      0.0             0.0
1907015 2019-06-30 23:00:00    한티역 8번출구(볼트EV 부름스테이션)  ...      0.0             0.0

[316080 rows x 5 columns]

In [ ]:
data_10 = pd.read_csv('/content/drive/MyDrive/timeseries-m-10.csv', encoding='utf-8')
data_10.tail(30)

        Unnamed: 0                 time  ... n_drive  n_drive_unique
326586     3202914  2019-10-31 23:00:00  ...     0.0             0.0
326587     3202915  2019-10-31 23:00:00  ...     0.0             0.0
326588     3202916  2019-10-31 23:00:00  ...     2.0             2.0
326589     3202917  2019-10-31 23:00:00  ...     1.0             1.0
326590     3202918  2019-10-31 23:00:00  ...     2.0             2.0
326591     3202919  2019-10-31 23:00:00  ...     1.0             1.0
326592     3202920  2019-10-31 23:00:00  ...     0.0             0.0
326593     3202921  2019-10-31 23:00:00  ...     1.0             1.0
326594     3202922  2019-10-31 23:00:00  ...     0.0             0.0
326595     3202923  2019-10-31 23:00:00  ...     0.0             0.0
326596     3202924  2019-10-31 23:00:00  ...     0.0             0.0
326597     3202925  2019-10-31 23:00:00  ...     0.0             0.0
326598     3202926  2019-10-31 23:00:00  ...     0.0             0.0
326599     3202927  2019-10-31 23:00:00  ...     0.0             0.0
326600     3202928  2019-10-31 23:00:00  ...     0.0             0.0
326601     3202929  2019-10-31 23:00:00  ...     0.0             0.0
326602     3202930  2019-10-31 23:00:00  ...     0.0             0.0
326603     3202931  2019-10-31 23:00:00  ...     1.0             1.0
326604     3202932  2019-10-31 23:00:00  ...     0.0             0.0
326605     3202933  2019-10-31 23:00:00  ...     1.0             1.0
326606     3202934  2019-10-31 23:00:00  ...     0.0             0.0
326607     3202935  2019-10-31 23:00:00  ...     0.0             0.0
326608     3202936  2019-10-31 23:00:00  ...     0.0             0.0
326609     3202937  2019-10-31 23:00:00  ...     0.0             0.0
326610     3202938  2019-10-31 23:00:00  ...     0.0             0.0
326611     3202939  2019-10-31 23:00:00  ...     0.0             0.0
326612     3202940  2019-10-31 23:00:00  ...     0.0             0.0
326613     3202941  2019-10-31 23:00:00  ...     0.0             0.0
326614     3202942  2019-10-31 23:00:00  ...     0.0             0.0
326615     3202943  2019-10-31 23:00:00  ...     0.0             0.0

[30 rows x 6 columns]

In [ ]:
zone_timeseries = zone_timeseries[((zone_timeseries["time"] >= '2019-06-01 00:00:00') & (zone_timeseries["time"] < '2019-07-01 00:00:00'))]